<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<nav th:fragment="navbar" class="navbar navbar-expand-sm navbar-expand-md navbar-expand-lg navbar-dark bg-dark"
     aria-label="Third navbar example">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Fin-manager</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
                aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav me-auto mb-2 mb-sm-0">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown"
                       aria-expanded="false">Категорії</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown01">
                        <li><a class="dropdown-item" th:href="@{/categories}">Список категорій</a></li>
                        <li><a class="dropdown-item" th:href="@{/categories/new}">Додати нову категорію</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-bs-toggle="dropdown"
                       aria-expanded="false">Транзакції</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown02">
                        <li><a class="dropdown-item" th:href="@{/transactions}">Список транзакцій</a></li>
                        <li><a class="dropdown-item" th:href="@{/transactions/new}">Додати нову транзакцію</a></li>
                        <li><a class="dropdown-item" href="#">Пошук транзакцій</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown"
                       aria-expanded="false">Звіти</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown03">
                        <li><a class="dropdown-item" th:href="@{/transactions/report}">Генератор звітів</a></li>
                        <li><a class="dropdown-item" href="#">Повний операційний звіт по роках</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-bs-toggle="dropdown"
                       aria-expanded="false">Допомога</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown04">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-bs-toggle="dropdown"
                       aria-expanded="false" th:text="${#httpServletRequest.remoteUser}">Username</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown05">
                        <li>
                            <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
                                <button class="dropdown-item" type="submit">Вийти</button>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

</body>
</html>
