<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="all" href="../../static/styles/main.css"
          th:href="@{/styles/main.css}">

    <title th:text="(${updateTransaction} ? 'Оновлення' : 'Створення') + ' транзакції'"></title>
</head>
<body>

<!-- Navbar-->
<div th:replace="fragments/navbar :: navbar"></div>

<!-- Main content -->

<h3 th:text="(${updateTransaction} ? 'Оновлення' : 'Створення') + ' інформації транзакції'"
    class="my-3 text-center">Оновлення/Створення інформаціії про транзакцію</h3>

<div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 mb-3">
    <div class="card mb-3">
        <div class="card-body">

            <form  class="needs-validation" action="#"
                   th:action="${updateTransaction} ? ('/transactions/' + ${transaction.id} + '/update') : '/transactions/new'"
                   th:object="${transaction}"
                   th:method="${updateTransaction} ? 'put' : 'post'">

                <div class="mb-3">
                    <label for="inputCategoryName" class="form-label">Назва категорії</label>
                    <select th:field="*{category}" th:class="${(#fields.hasErrors('category') ? 'is-invalid ' : '') + 'form-control'}" id="inputCategoryName" aria-describedby="categoryNameError">
                        <option value="" disabled selected hidden>Виберіть категорію</option>
                        <option th:each="c : ${categories}" th:name="${c.name}"
                                th:value="${c.id}" th:utext="${c.name}"></option>
                    </select>
                    <div class="invalid-feedback" id="categoryNameError" th:errors="*{category}">
                        Error category name
                    </div>
                </div>

                <div class="mb-3">
                    <label for="inputOperationType" class="form-label">Тип операції</label>
                    <select th:field="*{operationType}" th:class="${(#fields.hasErrors('operationType') ? 'is-invalid ' : '') + 'form-control'}" id="inputOperationType" aria-describedby="operationTypeError">
                        <option value="" disabled selected hidden>Виберіть тип операції</option>
                        <option th:each="ot : ${operationTypes}" th:name="${ot}"
                                th:value="${ot}" th:utext="${ot.name}"></option>
                    </select>

                    <div class="invalid-feedback" id="operationTypeError" th:errors="*{operationType}">
                        Error operation type
                    </div>
                </div>

                <div class="mb-3">
                    <label for="inputTransactionSum" class="form-label">Сума</label>
                    <input type="number" min="0" step="0.01" th:class="${(#fields.hasErrors('sum') ? 'is-invalid ' : '') + 'form-control'}" id="inputTransactionSum" aria-describedby="sumError" placeholder="Введіть суму транзакції"
                           th:field="*{sum}">
                    <div class="invalid-feedback" id="sumError" th:errors="*{sum}">
                        Error sum
                    </div>
                </div>

                <div class="mb-3">
                    <label for="inputTransactionDescription" class="form-label">Короткий опис</label>
                    <input type="text" th:class="${(#fields.hasErrors('description') ? 'is-invalid ' : '') + 'form-control'}" id="inputTransactionDescription" aria-describedby="transactionDescriptionError" placeholder="Введіть короткий опис транзакції"
                           th:field="*{description}">
                    <div class="invalid-feedback" id="transactionDescriptionError" th:errors="*{description}">
                        Error description
                    </div>
                </div>

                <div class="mb-3">
                    <label for="inputTransactionDate" class="form-label">Дата</label>
                    <input type="date" th:class="${(#fields.hasErrors('date') ? 'is-invalid ' : '') + 'form-control'}" id="inputTransactionDate" aria-describedby="transactionDateError" placeholder="Введіть дату транзакції"
                           th:field="*{date}">
                    <div class="invalid-feedback" id="transactionDateError" th:errors="*{date}">
                        Error date
                    </div>
                </div>

                <button type="button" class="btn btn-primary px-3" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Зберегти</button>
                <button type="reset" class="btn btn-danger px-3">Очистити</button>

                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Збереження/Оновлення транзакції</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Ви справді хочете зберегти/оновити транзакцію?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
                                <button type="submit" class="btn btn-primary">Так</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
