<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
</head>
<body>
<h2>Categories</h2>

<!--/*@thymesVar id="successCategorySubmitMessage" type="java.lang.String"*/-->
<p th:if="${successCategorySubmitMessage}" th:utext="${successCategorySubmitMessage}">alert</p>

<!--/*@thymesVar id="successCategoryDeleteMessage" type="java.lang.String"*/-->
<p th:if="${successCategoryDeleteMessage}" th:utext="${successCategoryDeleteMessage}">alert</p>

<!--/*@thymesVar id="successCategoryUpdateMessage" type="java.lang.String"*/-->
<p th:if="${successCategoryUpdateMessage}" th:utext="${successCategoryUpdateMessage}">alert</p>

<!--/*@thymesVar id="failureCategoryMessage" type="java.lang.String"*/-->
<p th:if="${failureCategoryMessage}" th:utext="${failureCategoryMessage}">alert</p>

<table border="1">
    <thead>
    <tr>
        <th>#</th>
        <th>Назва</th>
        <th>Опис</th>
        <th>Керування</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="category, state : ${categories}">
        <td th:text="${state.index+1}">1</td>
        <td th:text="${category.name}">Назва категорії</td>
        <td th:text="${category.description}">Опис категорії</td>
        <td>
            <a th:href="${'/categories/'+category.id+'/update'}">Редагувати</a>

            <form th:action="${'/categories/'+category.id+'/delete'}" th:method="delete">

                <button type="submit" title="Видалити">Видалити</button>
            </form>

        </td>
    </tr>
    </tbody>
</table>

<a th:href="@{/categories/new}">Додати нову категорію</a>

</body>
</html>