<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h3 th:text="${updateCategory} ? 'Оновлення категорії' : 'Створення категорії'"></h3>

<form action="#"
      th:action="${updateCategory} ? ('/categories/' + ${category.id} + '/update') : '/categories/new'"
      th:object="${category}"
      th:method="${updateCategory} ? 'put' : 'post'">

    <label>Назва категорії
        <input type="text" th:field="*{name}">
    </label>
    <label>Опис категорії
        <input type="text" th:field="*{description}">
    </label>
    <input type="submit">
</form>

</body>
</html>